.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#about .main-col {
  height: 80vh;
}

#about .main-col .follow-mountain {
  float: right;
  height: 1.5em;
  transition: height 1s ease-out;
  z-index: 5;
  cursor: pointer;
  overflow: hidden;
}

#about .main-col .follow-mountain:hover {
  height: 600px;
}

span.highlight {
  color: var(--dark-rock);
  transition: color 1s;
}

span.highlight:hover {
  color: var(--red-rock);
}

.portfolio-item {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 500ms ease-out;
}

#portfolio-wrapper .columns { margin-bottom: 36px; }

#portfolio-wrapper {
  width: 100%;
  height: 600px;
}

/* scrolldown link */
.scrolldown {
  position: relative;
  bottom: 50px;
  z-index: 3;
  }

.scrolldown a i{
  color: #fff;
}

#resume .scrolldown a i{
  color: var(--red-rock);
}

#resume .scrolldown a i:hover { color: var(--star); }

.scrolldown a {
  margin: 0 auto;

   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.scrolldown a i:hover { color: var(--star); }
